<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <div id="container">
      <header class="group">
        <div class="header-inner">
          <!-- <h1 class="logo"><a href="/">Edy's Blog</a></h1> -->
          {% include nav.html %}
        </div>
      </header>
      <div id="content">
        <div class="hero">
          <img src="/assets/images/lake.jpg" alt="Lake" />
          <div class="title">
            <h3>Edy's Blog</h3>
          </div>
          <!-- <div class="overlay">
            <h3>This site is under construction!</h3>
          </div> -->
        </div>
        <section id="main" class="group">
          {{ content }}
        </section>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
